[submodule "lib/ks-common-sc"]
	path = lib/ks-common-sc
	url = https://github.com/KyberNetwork/ks-common-sc
[submodule "lib/pull-oracle-consumer"]
	path = lib/pull-oracle-consumer
	url = https://github.com/oracle-atlas/pull-oracle-consumer
