[submodule "lib/ks-common-sc"]
	path = lib/ks-common-sc
	url = https://github.com/KyberNetwork/ks-common-sc
[submodule "lib/ks-zap-aggregation-public-sc"]
	path = lib/ks-zap-aggregation-public-sc
	url = https://github.com/KyberNetwork/ks-zap-aggregation-public-sc
